@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
}

.bg-main {
  background: rgb(242, 0, 0);
  background: linear-gradient(260deg, rgba(242, 0, 0, 1) 0%, rgba(228, 36, 0, 1) 19%, rgba(255, 174, 0, 1) 100%);
}

.bg-blue-gradient {
  background: rgb(65, 37, 201);
  background: linear-gradient(163deg, rgba(65, 37, 201, 1) 0%, rgba(14, 61, 130, 1) 19%, rgba(0, 18, 72, 1) 66%);
}

.bg-dark-blue-gradient {
  background: rgb(15, 12, 29);
  background: linear-gradient(163deg, rgb(37, 35, 43) 0%, rgb(30, 32, 51) 19%, rgba(0, 18, 72, 1) 93%);
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}


.spinner {
  border: 6px solid rgba(0, 0, 0, 0.1);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border-left-color: rgb(255, 153, 0);

  animation: spin 1s ease infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* This styles the scrollbar track (the part the scrollbar moves along) */
.dialog ::-webkit-scrollbar-track {
  background: transparent !important;
  margin-top: 5px;
  margin-bottom: 5px;
}

::-webkit-scrollbar-track {
  background: #F10000;
}

/* This styles the scrollbar thumb (the part that is draggable) */
::-webkit-scrollbar-thumb {
  background: #242424;
  /* Dark grey scrollbar thumb */
  border-radius: 10px;
  /* Rounded corners on the scrollbar thumb */
  transition: all;
  transition-duration: 200ms;
}

/* Changes the scrollbar thumb color on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  transition: all;
  transition-duration: 200ms;
  /* Darker shade on hover for the scrollbar thumb */
}

/* This styles the scrollbar itself (including the thumb, the track, and the buttons) */
::-webkit-scrollbar {
  width: 8px;
  /* Makes the scrollbar thin */
  height: 8px;
  /* For horizontal scrollbars, makes them thin as well */
}